:root
{
  --width:200px;
}

body 
{
  background: black;
}
.container
{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .wrapper
{
  background-color: transparent;
  /* height: 80px; */
  /* width: var(--width); */
  display: flex;
  gap: 10px;
}

.container .wrapper .rectangles
{
  height: 80px;
  width: 15px;
  /* border: 1px solid black; */
  gap: 10px;
  background-color: white;
}